/**
 * Base global styles
 */
body {
	background:#f6f6f6;
	font-family:arial,sans-serif;
	font-size:12px;
	-webkit-text-size-adjust:100%; /* http://www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
	line-height:1.3;
	margin:0 10px;
	padding:0;
}
table {
	width:100%;
}

/**
 Text styles
 */
h1, .h1 {
	font-size:24px;
	font-weight:bold;
}
h2, .h2 {
	font-size:20px;
	font-weight:bold;
}
h3, .h3 {
	font-size:14px;
	font-weight:bold;
}
.fineprint {
	font-size:10px;
}
a {
	color:blue;
	text-decoration:none;
}

/**
 Qualitative modifiers for deltas (increases/decreases)
 Note that a positive delta (e.g. +0.25%) may be a *bad* thing
 */
 .delta-bad {
 	color:#cb3200;
 }
 .delta-good {
 	color:#090;
 }
 .delta-neutral {
 }

/**
 Spacing helpers
 */
.prm {
	padding-right:10px !important;
}

/**
 Alignment helpers
 */
.nobr {
	white-space: nowrap;
}

/**
 Micro-clearfix: http://nicolasgallagher.com/micro-clearfix-hack/
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}


/** RESPONSIVE MODIFIERS **/

/* small: < 480, medium: 480 - 639, large: >= 640 */

/* @media incapable-browser { */
	.r-block-below-medium {
		display:none;
	}
	.r-hide-below-medium {
		display:block;
	}
/* } */
@media screen and (max-width:479px) {
	.r-block-below-medium {
		display:block;
	}
	.r-hide-below-medium {
		display:none;
	}
}
@media screen and (min-width:480px) {
	.r-block-below-medium {
		display:none;
	}
	.r-hide-below-medium {
		display:block;
	}
}


/** TABLE MODIFIERS **/


/**
 Table modifier: .left-left-rest-center
 Visual: left column left aligned, other columns centered.
 */
.left-left-rest-center th,
.left-left-rest-center td {
	text-align:center;
} 
.left-left-rest-center th.first-child,
.left-left-rest-center th:first-child,
.left-left-rest-center td.first-child,
.left-left-rest-center td:first-child {
	text-align:left;
}


/**
 Table modifier: .left-33
 Visual: table body left column gets 33% of table width
 */
.left-33 th.first-child,
.left-33 th:first-child,
.left-33 td.first-child,
.left-33 td:first-child {
	width:33%;
}


/** 
 Table modifier: .stripy
 Visual: 
  + header row gets slightly darker grey background
  + header row gets inset top & bottom border effect
  + even rows get light grey background; browsers without nth-child just get a line separator between rows
 */
.stripy {
	border-collapse:separate;
	border-spacing:0;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}
.stripy tr:nth-child(even) {
	background-color:#efefef;
}
.stripy th {
	background-color:#e9e9e9;
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
	font-size:11px;
	padding:4px 20px;
}
.stripy td {
	padding:7px 20px 8px;
	border-bottom:1px solid #efefef;  /*border-bottom separator for browsers without nth-child support */
}
.stripy tbody tr.first-child td,
.stripy tbody tr:first-child td {
	border-top:1px solid #ccc;
	padding-top:8px;
}
.stripy tr:nth-child(odd) td {
	border-bottom-width:0; /* kill unnecessary border for browsers with nth-child support */
}
.stripy tr:nth-child(even) td {
	border-bottom-width:0; /* kill unnecessary border for browsers with nth-child support */
}


/** MODULES **/


/**
 Tab content container
 Visual: white contents, grey border, veeerrrry subtle box shadow
 */
.mod-tab-content {
	background:#fff;
	border-radius:5px;
	border:1px solid #ccc;
	box-shadow:0 0 0 1px #ededed;
	padding:10px 10px 30px;
	margin-bottom:20px;
	position:relative;
}
/* Max-width media query so that capable browsers can use a wee bit more
space left and right at small widths */
@media all and (max-width:480px) {
	.mod-tab-content {
		border-radius:0;
		border-left:none;
		border-right:none;
		margin-left:-10px;
		margin-right:-10px;
	}
}

/**
 table appendix
 Visual: blue background, attached directly to the bottom of a preceding table
 */
.mod-table-appendix {
	background:#ecf5ff;
	border-bottom:1px solid #ccc;
	text-align:center;
	padding:5px;
	margin-bottom:20px;
}


/** TAB ALIGNMENT **/
/**
 Initial markup (no js)
 <div class="tb-trigger-skin-alpha">
	 <ul class="tab-triggers-vertical">
	 	<li><a href="#one">One</a></li>
	 	<li><a href="#two">Two</a></li>
	 	<li><a href="#three">Three</a></li>
	 </ul>
 </div>
 <div class="tab-target" id="one"></div>
 <div class="tab-target" id="two"></div>
 <div class="tab-target" id="three"></div>

 JS-activated markup:
 <div class="tb-trigger-skin-alpha">
	 <ul class="tab-triggers-strip">
	 	<li class="js-active"><a href="#one">One</a></li>
	 	<li class="js-dormant"><a href="#two">Two</a></li>
	 	<li class="js-dormant"><a href="#three">Three</a></li>
	 </ul>
 </div>
 <div class="tab-target js-active" id="one"></div>
 <div class="tab-target js-dormant" id="two"></div>
 <div class="tab-target js-dormant" id="three"></div>

Visual: 
 + ul.tab-triggers represents a simple vertical list of links
 + ul.tab-triggers-strip on wide screens is a classic tab strip
 + ul.tab-triggers-strip on narrow screens is a single tab button atop the tab targets

Behaviour:
 + Initial HTML should start with ul.tab-triggers-vertical
 + If JS is available, JS init will replace the .tab-triggers class with .tab-triggers-strip
 + On wide screens, clicking a tab trigger will toggle the active tab
 + On narrow screens, clicking a tab trigger will temporarily turn the .tab-triggers-strip
   back into a vertical .tab-triggers list. After selecting an item, .tab-triggers-strip is restored.
 */
.tab-triggers-vertical,
.tab-triggers-strip {
	padding:0;
	margin:0;
}
.tab-triggers-vertical li,
.tab-triggers-strip li {
	list-style-type:none;
	padding:0;
}
.tab-triggers-vertical a,
.tab-triggers-strip a {
	display:block;
}

.tab-triggers-vertical {
	float:left;
	overflow:hidden;
	margin-bottom:10px;
}
.tab-triggers-vertical li {
	display:inline;
	margin:0;
}

.tab-triggers-strip li {
	float:left;
	margin:0 4px 0 0;
}


/** TAB SKIN **/


/*** Container ***/
.tab-trigger-skin-alpha .tab-triggers-strip {
	margin-left:7px;
	position:relative;
	z-index:1;
	top:1px;
	zoom:1;
}
.tab-trigger-skin-alpha .tab-triggers-vertical {
	border-radius:5px;
	border:1px solid #ccc;
	box-shadow:0 0 0 1px #eee outset;
}

/*** List items ***/
.tab-trigger-skin-alpha .tab-triggers-strip li {
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border:1px solid #ccc;
	box-shadow:0 1px 0 1px #fff inset;
	box-shadow:0 0 0 1px #eee outset;
}
.tab-trigger-skin-alpha .tab-triggers-strip li.js-active {
	border-bottom:1px solid white;
}

/*** Links ***/
.tab-trigger-skin-alpha a {
	background: #e9e9e9;
	font-size:14px;
	font-weight:bold;
	color:#0054a6;
	text-shadow:0 1px 0 #fff;
	padding:6px 8px;
	margin-left:1px;
	margin-right:1px;
}
.tab-trigger-skin-alpha li.js-active a {
	background:white;
}
.tab-trigger-skin-alpha .tab-triggers-vertical a {
	border-top:1px solid #ccc;
}
.tab-trigger-skin-alpha .tab-triggers-vertical li.first-child a {
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-top:none;
	margin-top:1px;
}
.tab-trigger-skin-alpha .tab-triggers-vertical li.last-child a {
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	margin-bottom:1px;
}
.tab-trigger-skin-alpha .tab-triggers-strip a {
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	margin:1px 1px 0 1px;
}

/*** Responsive ***/
@media all and (max-width:640px) {
	.tab-trigger-skin-alpha .tab-triggers-strip li.js-dormant {
		display:none;
	}
	.tab-trigger-skin-alpha .tab-triggers-strip li.js-active a:after {
		content:" v ";
	}
}


/** FORMS **/


/**
 Text input fields
 */
input {
	border:1px solid #ccc;
	border-radius:3px;
	box-shadow:0 1px 0 1px #f7f7f7 inset;
	background: #f3f3f3; /* Old browsers */
	background: -moz-linear-gradient(top,  #f3f3f3 0%, #fefefe 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f3f3f3 0%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f3f3f3 0%,#fefefe 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f3f3f3 0%,#fefefe 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f3f3f3 0%,#fefefe 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
	padding:3px;
}

/**
 Button style alpha
 Visual: rounded corners, gold gradient, ALL-CAPS
 */
.btn-alpha {
	border-radius:3px;
	border-top:1px solid #f0c377;
	border-left:1px solid #f0c377;
	border-right:1px solid #d99521;
	border-bottom:1px solid #d99521;
	box-shadow:0 0 0 1px #fff inset;
	background: #f7ecca; /* Old browsers */
	background: -moz-linear-gradient(top,  #f7ecca 0%, #e6c674 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7ecca), color-stop(100%,#e6c674)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f7ecca 0%,#e6c674 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f7ecca 0%,#e6c674 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f7ecca 0%,#e6c674 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f7ecca 0%,#e6c674 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7ecca', endColorstr='#e6c674',GradientType=0 ); /* IE6-9 */
	text-transform:uppercase;
	font-size:12px;
	font-weight:bold;
	text-shadow:0 1px 0 #fff;
	padding:8px;
}