/**
 * Base global styles
 */
body {
	background:#f6f6f6;
	font-family:arial,sans-serif;
	font-size:12px;
	line-height:1.3;
	margin:0;
	padding:0;
}
table {
	width:100%;
}

/**
 Text styles
 */
h1, .h1 {
	font-size:24px;
	font-weight:bold;
}
h2, .h2 {
	font-size:20px;
	font-weight:bold;
}
h3, .h3 {
	font-size:14px;
	font-weight:bold;
}
.fineprint {
	font-size:10px;
}
a {
	color:blue;
	text-decoration:none;
}

/**
 Spacing helpers
 */
.prm {
	padding-right:10px !important;
}

/**
 Alignment helpers
 */
.nobr {
	white-space: nowrap;
}

/**
 Micro-clearfix: http://nicolasgallagher.com/micro-clearfix-hack/
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}

.page {
	margin:0 10px;
	overflow:visible;
}

/** MODULES AND BLOCKS **/

/**
 Table modifier: .left-left-rest-center
 Visual: left column left aligned, other columns centered.
 */
.left-left-rest-center th,
.left-left-rest-center td {
	text-align:center;
} 
.left-left-rest-center th:first-child,
.left-left-rest-center td:first-child {
	text-align:left;
}

/**
 Table modifier: .left-normal-rest-bold
 Visual: table body left column font normal, other bold.
 */
.left-normal-rest-bold td {
	font-weight:bold;
} 
.left-normal-rest-bold td:first-child {
	font-weight:normal;
}

/** 
 Table modifier: .stripy
 Visual: 
  + even rows get light grey background
  + header row gets slightly darker grey background
  + header row gets inset top & bottom border effect
 */
.stripy {
	border-collapse:separate;
	border-spacing:0;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}
.stripy th {
	background-color:#e9e9e9;
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
	font-size:11px;
	padding:4px 20px;
}
.stripy td {
	padding:7px 20px 8px;
}
.stripy tbody tr:first-child td {
	border-top:1px solid #ccc;
	padding-top:8px;
}
.stripy tr:nth-child(even) {
	background-color:#efefef;
}

/**
 Tab content container
 Visual: white contents, grey border, veeerrrry subtle box shadow
 */
.mod-tab-content {
	background:#fff;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	margin-left:-10px;
	margin-right:-10px;
	padding:10px;
	padding-bottom:30px;
}
@media all and (min-width:481px) {
	.mod-tab-content {
		border-radius:5px;
		border:1px solid #ccc;
		box-shadow:0 0 0 1px #ededed;
		margin-left:0;
		margin-right:0;
	}
}

/**
 table appendix
 Visual: blue background, attached directly to the bottom of a preceding table
 */
.mod-table-appendix {
	background:#ecf5ff;
	border-bottom:1px solid #ccc;
	text-align:center;
	padding:5px;
	margin-bottom:20px;
}

/**
 Text input fields
 */
input {
	border:1px solid #ccc;
	border-radius:3px;
	box-shadow:0 1px 0 1px #f7f7f7 inset;
	background: #f3f3f3; /* Old browsers */
	background: -moz-linear-gradient(top,  #f3f3f3 0%, #fefefe 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f3f3f3 0%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f3f3f3 0%,#fefefe 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f3f3f3 0%,#fefefe 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f3f3f3 0%,#fefefe 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
	padding:3px;
}

/**
 Button style alpha
 Visual: rounded corners, gold gradient, ALL-CAPS
 */
.btn-alpha {
	border-radius:3px;
	border-top:1px solid #f0c377;
	border-left:1px solid #f0c377;
	border-right:1px solid #d99521;
	border-bottom:1px solid #d99521;
	box-shadow:0 0 0 1px #fff inset;
	background: #f7ecca; /* Old browsers */
	background: -moz-linear-gradient(top,  #f7ecca 0%, #e6c674 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7ecca), color-stop(100%,#e6c674)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f7ecca 0%,#e6c674 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f7ecca 0%,#e6c674 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f7ecca 0%,#e6c674 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f7ecca 0%,#e6c674 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7ecca', endColorstr='#e6c674',GradientType=0 ); /* IE6-9 */
	text-transform:uppercase;
	font-size:12px;
	font-weight:bold;
	text-shadow:0 1px 0 #fff;
	padding:8px;
}